body {
	background-color: #58585b !important;
}

#codes{
	position: relative;
}


.main {
	width: 80%;
	height: 100%;
	background-color: #627087 !important;
	margin: auto;
	padding: 2%;
}

.code {
	width: 29% !important;
	position: relative;
	display: inline-block;
	margin: 2%;
	background-color: white;
	padding: 2% !important;
	vertical-align: top;
	border: 5px solid gray;
	border-radius: 10px;
}

.code:hover {
	border-color: red;
}

.close:hover {
	cursor: pointer;
}

#addcode {
	padding: 1.5% !important;
}

